:root {
    /* --bg-start: #2c35a2;
    --bg-end: #0f133b;

    --highlight-primary: #73fff5;
    --highlight-secondary: #cf0389;
    --hightlight-fg: #161c49;

    --fg-color: rgba(255, 255, 255, 0.9);
    --transition: 250ms ease-out; */

    --bg-start: #003A3D;
    --bg-end: #83C5BE;

    --highlight-primary: #EDF6F9;
    --highlight-secondary: #E29578;
    --hightlight-fg: #161c49;

    --fg-color: rgba(255, 255, 255, 1);
    --transition: 250ms ease-out;

    /* --bg-start: #003A3D;
    --bg-end: #83C5BE;

    --highlight-primary: #EDF6F9;
    --highlight-secondary: #E29578;
    --hightlight-fg: #161c49;

    --fg-color: rgba(255, 255, 255, 1);
    --transition: 250ms ease-out;  */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: var(--fg-color);
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.25rem;

    min-height: 100vh;
    background: linear-gradient(45deg,
            var(--bg-start),
            var(--bg-end));
}

main {
    padding-top: 5rem;
    max-width: 50rem;
}


section {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content artwork";
    place-content: center;
}

section>.content {
    grid-area: content;
    place-self: center stretch;

}

section>.artwork {
    grid-area: artwork;
    place-self: stretch;
    padding-top: 2rem;
    padding-left: 2rem;
}

h1 {
    margin-bottom: 1rem;
    color: var(--highlight-primary);
    font-size: 2.5rem;
    font-weight: 200;
}

p {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 200;
}